* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
}

.righe {
  margin: 10px;
}

.immagini {
  background-color: green;
  height: 300px;
  width: 300px;
  display: inline-block;
}
